/HelloOpenGL/OpenGL/docs
/HelloOpenGL/OpenGL/lib-vc2012
/HelloOpenGL/OpenGL/lib-vc2015
/HelloOpenGL/OpenGL/lib-vc2019
/HelloOpenGL/OpenGL/lib-mingw
/HelloOpenGL/OpenGL/lib-mingw-w64
/HelloOpenGL/OpenGL/lib-vc2010
/HelloOpenGL/HelloOpenGL/Debug
